<nav class="border" >
  <div class="">
    <a class="" href="#">Employee Management</a>
    <button class="" type="button">
      <span class=""></span>
    </button>
    <div class="">
      <div class="">
        <a class="" href="#">Home</a>
        <div class="">
          <a class="" href="#">Employees</a>
            <div class="dropdown-menu">
              <button class="" 
                (click)="showNewEmployeeDetails()">
                Register new employee
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>