
<div class="border mx-2 mt-2">
    <p *ngIf="Employees.length === 0" class="text-center">No data</p>
    <table class="table " *ngIf="Employees.length > 0">
        <thead class="table-dark">
            <tr>
              <th scope="col">ID #</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Date Hired</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of Employees">
                <th>{{employee.id}}</th>
                <td>{{employee.name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.dateHired}}</td>
                <td class="d-flex justify-content-end">
                    <button class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#employeeForm" (click)="showEditDetails(employee)">Edit Details</button>
                    <button class="btn btn-danger mx-2" data-bs-toggle="modal" data-bs-target="#confirmDelete">Delete Data</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
