
<div class="modal fade" id="employeeForm" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="inputEditInit">Edit employee details</h5>
          <h5 *ngIf="!inputEditInit" class="modal-title">New employee details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="m-2 d-flex">
                <label for="tbInputName" class="mx-2 flex-fill">Name: </label>
                <input type="text" name="name" [(ngModel)]="inputEmployee.name" class="flex-fill"><br>
            </div>
            <div class="m-2 d-flex">
                <label for="tbInputEmail" class="mx-2 flex-fill">Email: </label>
                <input type="text" name="email" [(ngModel)]="inputEmployee.email" class="flex-fill"><br>
            </div>
            <div class="m-2 d-flex">
                <label for="tbInputDateHired" class="mx-2 flex-fill">DateHired: </label>
                <input type="text" name="date-hired" [(ngModel)]="inputEmployee.dateHired" class="flex-fill"><br>        
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
          <button *ngIf="inputEditInit" type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" (click)="sendEditInputVal()">Save Changes</button>
          <button *ngIf="!inputEditInit" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="sendInputVal()">Add employee</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmDelete" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex flex-column">
          <p class="fs-5"> Are you sure you want to delete row?</p>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
          <button type="button" class="btn btn-outline-danger" (click)="sendItemToDeleteVal()">Delete row</button>
        </div>
      </div>
    </div>
  </div>
